"""
Settings related to the openid federation
"""

# required for onboarding checks and also for all the leafs
OIDCFED_DEFAULT_TRUST_ANCHOR = "http://127.0.0.1:8000"

OIDCFED_TRUST_ANCHORS = [OIDCFED_DEFAULT_TRUST_ANCHOR]

OIDCFED_PROVIDER_PROFILE = "spid"
OIDCFED_PROVIDER_MAX_REFRESH = 10 #used in SPID

# OIDCFED_PROVIDER_MAX_CONSENT_TIMEFRAME = 3600 #used in CIE (seconds)

# for RP only
OIDCFED_IDENTITY_PROVIDERS = {
  "spid": {
    "http://127.0.0.1:8000/oidc/op" : OIDCFED_DEFAULT_TRUST_ANCHOR,
  },
  "cie": {
    "http://127.0.0.1:8002/oidc/op" : OIDCFED_DEFAULT_TRUST_ANCHOR,
  }
}

OIDCFED_REQUIRED_TRUST_MARKS = []

OIDCFED_FEDERATION_TRUST_MARKS_PROFILES = {
    "openid_relying_party__public": {},
    "openid_relying_party__private": {},
}

FEDERATION_DEFAULT_POLICY = {
    "openid_relying_party": {
      # TODO: to be customized for each entities, not something to default!
      # "client_id": {"value":  "https://rp.example.it/spid"},
      # "redirect_uris": {
        # "subset_of": [
          # "https://rp.example.it/spid/cb1", 
          # "https://rp.example.it/spid/cb2"
        # ]
      # },
      # "organization_name": {"value": "Example RP organization name"},
      # "logo_uri": {
         # "one_of": [
            # "https://rp.example.it/logo_small.jpg",
            # "https://rp.example.it/logo_big.jpg"
         # ],
         # "default": "https://rp.example.it/logo_small.jpg"
      # },
       # "policy_uri": {
         # "value": "https://rp.example.it/policy.html"
       # },
       # "tos_uri": {
         # "value": "https://rp.example.it/tos.html"
      # },
      "grant_types": {
        "subset_of": [
          "authorization_code",
          "refresh_token"
         ]
      },
    # TODO: to be customized for each actor
    "constraints": {
      # "naming_constraints": {
        # "permitted": [
          # "https://rp.example.it"
      # ]
    # },

    # defines how many intermediaries are allowed to this trust anchor
    "max_path_length": 1
  },
  },
  # TODO: TBD
  "openid_provider": {},
  "federation_entity": {},
  "oauth_resource": {}
}